header{
    display: flex;
    padding-inline:16px;
    padding-block: 8px;
    background-color: #333;
    color :white;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    }
    }
 
}




    